<script src="https://code.highcharts.com/highcharts.js"></script>

  <div class="row">
    <div class="col-md-12">
      <label for="customRange1">Период до: &nbsp;</label>{{endPeriod}}
      <input type="range" class="custom-range"
        id="offset"
        min="1"
        max="365"
        [(ngModel)]='offset'
        (change) = 'changeOffset()' />
    </div>
    <div class="col-md-12"><div id="line"></div></div>
    <div class="col-md-6"><div id="pie"></div></div>
    <div class="col-md-6"><div id="cylinder"></div></div>
    <div class="col-md-6 col-12">
      <div class="row tr" *ngFor="let i of expenses | rsort:'y'">
          <div class="col-md-8 col-8 td">{{i.name}}</div>
          <div class="col-md-4 col-4 td">{{i.y}}</div>
      </div>
      <div class="row tr">
        <div class="col-md-8 col-8 td font-weight-bold">
          Total:
        </div>
        <div class="col-md-4 col-4 td font-weight-bold">
          {{totalExpense}}
        </div>
      </div>
    </div>
    <div class="col-md-6"><div id="balance"></div></div>
  </div>
<script>
</script>
