<div class="row">
  <div class="col-md-12">
      <h4>Приходи до края на месеца</h4>
    <form #expenseForm="ngForm" (ngSubmit)="onSubmit()" #f>
      <div class="form-group row">
        <!-- <label for="" class="col-md-12">Category</label> -->
        <select [(ngModel)]="model.category" name="category" class="form-control col-md-3" required placeholder="Category">
          <option *ngFor='let k of categories' [value]="k.title">{{k.title}}</option>
        </select>
        <input type="text" class="form-control col-md-1" name="value" [(ngModel)]="model.value" required placeholder="0.00"/>
        <input  class="form-control col-md-2" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <select name="period" id="" class="form-control col-md-2" [(ngModel)]="model.period">
            <option *ngFor="let i of periods" [value]="i.key">{{i.value}}</option>
        </select>
        <input matInput [matDatepicker]="endpicker" placeholder="Choose end date" [(ngModel)]="model.enddate" name="enddate" [hidden]='!model.period'  class="form-control col-md-2" >
        <mat-datepicker-toggle matSuffix [for]="endpicker" [hidden]='!model.period'></mat-datepicker-toggle>
        <mat-datepicker #endpicker [hidden]='!model.period'></mat-datepicker>
      </div>

      <div class="form-group row">
        <!-- <label for="" class="col-md-12">Note</label> -->
        <textarea type="text" class="form-control form-control-lg" [(ngModel)]="model.note" name="note" placeholder="Note"></textarea>
      </div>
      <!-- <div class="form-group row">
        <label for="" class="col-md-2">Value</label>

        <label for="" class="col-md-1">Date</label>

      </div> -->
      <!-- <div class="form-group ">
          <label for="" class="col-md-12">Date</label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date" name="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

      </div> -->
      <!-- <section name="">
        <div class="form-group row">
          <label for="">Period</label>

        </div>
        <div class="form-group ">
            <label for="" class="col-md-12" [hidden]='!model.period'>End Date</label>


        </div>
      </section> -->
      <button type="submit" class="btn btn-primary" [disabled]="f.className.indexOf('ng-invalid')>-1" >Add</button>

    </form>

  </div>
  <div class="col-md-12">
      <filter-date (changed) = 'setInterval($event)'></filter-date>
      <div class="row list-row" *ngFor="let i of list">
        <div class="col-md-2 col-12 head">{{i.date | date:'dd MMM'}}</div>
        <div class="col-md-2 col-3">{{i.category}}</div>
        <div class="col-md-2 col-3">{{i.note}}</div>
        <div class="col-md-2 col-3">{{i.value}} лв.</div>
        <div class="col-md-1 col-1"><span (click)="editEntry(i)" class="btn" ><i class="fa fa-edit"></i></span></div>
        <div class="col-md-1 col-1"><span (click)="deleteEntry(i.guid)" class="btn" ><i class="fa fa-remove red"></i></span></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"><h4 class="red">{{total}} лв.</h4></div>
      </div>


    </div>
</div>
