/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* body {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 9pt !important;
} */

* {
   /* background-color: #526B71;
  color:#F9CA77; */
}
.container2 {
  width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

ul.nav {
    margin-bottom:10px;
}

.account-title {
  color: #700;
}

.btn-primary {
  background-color:#7B878B !important;
  border-color: rgb(65, 71, 73) !important;
}

.topnav {
    overflow: hidden;
    background-color: #BBCEA1;
  }

  .topnav a {
    float: left;
    display: block;
    color: #212529;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #fdfdfd;
    color: black;
  }

  .topnav a.active {
    background-color: #fdfdfd;
    color: black;
  }

  .topnav .icon {
    display: none;
  }

  .panel-head {
    background-color: #efefef;
    padding: 5px;
    font-weight: bold;
  }

  @media screen and (max-width: 400px) {
    div.list-row {
      font-size: 0.75rem;
      /* border:1px solid #999; */

      /* margin-bottom: 5px; */
    }

    h4 {
      font-size: 1.15rem;
    }

    .head {
      background-color: #efefef;
      color: #212529;
      font-weight: bold;
      padding:3px 3px;
    }
    }

  @media screen and (max-width: 670px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 670px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
