/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

ul.nav {
    margin-bottom:10px;
}

@media screen and (max-width: 400px) {
  div.list-row {
    font-size: 0.75rem;
    border:1px solid #999;

    margin-bottom: 5px;
  }

  h4 {
    font-size: 1.15rem;
  }

  .head {
    background-color: #178d96;
    color: #fefefe;
    padding:3px 3px;
  }
  }
