.red {
    color: #D54431;
}

.odd {
  background-color: #efefef;
}

.form-control {
  margin: 0px 3px 3px 0px;
}

.left {
  border-right: 1px solid black;
}

.panel {
  border: 1px solid #dedede;
  padding: 5px;
  margin: 0px 5px 5px 5px;
}

.newdate-row {
  padding-top: 5px;
}

.panel-head {
  background-color: #efefef;
  padding: 10px;
  font-weight: bold;
}

.panel-body {
 padding: 10px;
}

.panel {
  padding: 0px;
}

.span-val {
  display: block;
    border-top: 1px solid #dedede;
    text-align: right;
    margin-top: 0.75em;
}

.span-date {
  margin-top:10px;
  display:block;
}

.strike {
  text-decoration: line-through;
}


