.red {
    /* color: #D54431; */
    color: #EF746F;
}

.odd {
  background-color: #efefef;
}

.form-control {
  margin: 0px 3px 3px 0px;
}

.left {
  border-right: 1px solid black;
}

.panel {
  border: 1px solid #dedede;
  padding: 5px;
  margin: 0px 5px 5px 5px;
}

.newdate-row {
  padding-top: 5px;
}



.panel-body {
 padding: 10px;
}

.panel {
  padding: 0px;
}

.span-val {
    float:right;
    text-align: right;
}

.span-date {
  margin: 0px;
  display: inline-block;
  color: #8c8c8c;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: 1px solid #dcdcdc;
}

.updatedat {
  color: #999;
  margin-left: 1rem;
  font-style: italic;
  font-size: 0.75rem;
}


