<div class="row">
  <div class="col-md-12 col-sm-12 col-12">
    <h4>Expenses</h4>

    <!-- <div class="row list-row" *ngFor="let i of list" [ngClass]="(getDate(i.date) % 2 > 0)? 'odd' : 'even'">
      <div class="col-md-2 col-12 head">{{i.date | date:'dd MMM'}}</div>
      <div class="col-md-2 col-2" >{{i.category}}</div>
      <div class="col-md-4 col-4" >{{i.note}}</div>
      <div class="col-md-2 col-3">{{i.value}} лв.</div>
      <div class="col-md-1 col-1"><span (click)="editEntry(i)" class=""><i class="fa fa-edit"></i></span></div>
      <div class="col-md-1 col-1"><span (click)="deleteEntry(i._id)" class=""><i class="fa fa-remove red"></i></span></div>
    </div> -->
  </div>
  <div class="col-md-12 col-12">
    <form #expenseForm="ngForm" (ngSubmit)="onSubmit()" #f [formGroup] = "myGroup">
      <div class="form-group row">
        <!-- <select [(ngModel)]="model.category" name="category" class="form-control col-md-12" required>
          <option *ngFor='let k of categories' [value]="k.title">{{k.title}}</option>
        </select> -->
        <input type="text" matInput [formControl]="catControl" name="category" class="form-control col-md-3"
          [matAutocomplete]='auto' (focus)='onFocus($event)' catControl='model.category' placeholder="Category">

        <mat-autocomplete #auto='matAutocomplete'>
          <mat-option *ngFor="let category of filteredCategories | async" [value]='category.title'>
            {{category.title}}
          </mat-option>
        </mat-autocomplete>
        <input placeholder='0.00' type="text" class="form-control col-md-1" name="value" [(ngModel)]="model.value" [ngModelOptions]="{standalone: true}"
        required />
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}" name="date" class="form-control col-md-2"
        required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <select name="period" id="" class="form-control col-md-2" [(ngModel)]="model.period" [ngModelOptions]="{standalone: true}" >
          <option *ngFor="let i of periods" [value]="i.key">{{i.value}}</option>
        </select>
        <input matInput [matDatepicker]="endpicker" class="form-control col-md-2" placeholder="Choose a date" [(ngModel)]="model.enddate" [ngModelOptions]="{standalone: true}" name="enddate"
        [hidden]='!model.period' >
      <mat-datepicker-toggle matSuffix [for]="endpicker" [hidden]='!model.period'></mat-datepicker-toggle>
      <mat-datepicker #endpicker [hidden]='!model.period'></mat-datepicker>

      </div>
      <!-- <div class="form-group row">
        <label for="" class="col-md-12">SubCategory</label>
        <! -- <select [(ngModel)]="model.subcategory" name="subcategory" class="form-control col-md-12" >
          <option *ngFor='let k1 of subcategories' [value]="k1">{{k1}}</option>
        </select> -- >
        <input type="text" matInput [formControl]="subcatControl" name="subcategory" class="form-control col-md-12"
          [matAutocomplete]='subauto' (focus)='onSubFocus($event)'>

        <mat-autocomplete #subauto='matAutocomplete'>
          <mat-option *ngFor="let subcategory of subcategories" [value]='subcategory.title'>
            {{subcategory.title}}
          </mat-option>
        </mat-autocomplete>
      </div> -->
      <div class="form-group row">
        <!-- <label for="" class="col-md-12">Note</label> -->
        <textarea type="text" class="form-control form-control-lg" [(ngModel)]="model.note" [ngModelOptions]="{standalone: true}" name="note" placeholder='Note'></textarea>
      </div>
      <!-- <div class="form-group row">
        <label for="" class="col-md-9">Value</label>
        <input type="number" class="form-control form-control-lg col-md-3" name="value" [(ngModel)]="model.value" [ngModelOptions]="{standalone: true}"
          required />
      </div> -->
      <!-- <div class="form-group ">
        <label for="" class="col-md-12">Date</label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}" name="date"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </div> -->
      <!-- <section name="">
        <div class="form-group row">
          <label for="">Period</label>
          <select name="period" id="" class="form-control" [(ngModel)]="model.period" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let i of periods" [value]="i.key">{{i.value}}</option>
          </select>
        </div>
        <div class="form-group ">
          <label for="" class="col-md-12" [hidden]='!model.period'>End Date</label>

        </div>
      </section> -->
      <button type="submit" class="btn btn-primary" [disabled]="f.className.indexOf('ng-invalid')>-1">Add</button>

    </form>
    <filter-date (changed)='setInterval($event)'></filter-date>
    <div class="row">
        <div class="col-md-2 col-6"> <h4 class="red">{{list | filter:nfilter | sum:'value'}} лв.</h4></div>
        <div class="col-md-8 col-6">
          <input type='filter' [(ngModel)]='nfilter' />
        </div>
    </div>
    <div class="conent">
        <div class="row list-row" *ngFor="let i of list | filter:nfilter; let x = index;" [ngClass]="(getDate(i.date) % 2 > 0)? '_odd' : '_even'">


          <div class="col-md-2 col-3 left text-right"><span  *ngIf="x==0 || (x>0 && i.date !== list[x-1].date)" class='span-date'>{{i.date | fmoment:'ddd, Do MMM'}}
            <span class='span-val red'>{{getDailyExpense(i.date)}} лв.</span></span>

          </div>
            <div class="col-md-6 col-9 right">
              <div class="panel panel-default">
                <div class="panel-head">
                  <div class="row">
                  <div class="col-md-8 col-8">{{i.category}}</div>
                  <div class="col-md-4 col-4 text-right">
                    <span (click)="editEntry(i)" class="btn"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
                    <span (click)="payEntry(i._id)" class="btn"><i class="fa fa-money"></i></span>&nbsp;&nbsp;
                    <span (click)="deleteEntry(i._id)" class="btn"><i class="fa fa-remove red"></i></span>
                  </div>
                </div>
                </div>
                <div class="panel-body">
                  {{i.note}}<br/>
                  <span class="red"><strong [ngClass]="i.paid ? 'strike' : ''" >{{i.value}} лв.</strong></span>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
            <!-- <div class="col-md-2 col-2" >{{i.category}}</div>
            <div class="col-md-4 col-4" >{{i.note}}</div>
            <div class="col-md-2 col-3">{{i.value}} лв.</div>
            <div class="col-md-1 col-1"><span (click)="editEntry(i)" class=""><i class="fa fa-edit"></i></span></div>
            <div class="col-md-1 col-1"><span (click)="deleteEntry(i._id)" class=""><i class="fa fa-remove red"></i></span></div> -->
        </div>
    </div>
  </div>

  <div class="col-12 row">
      <div class="col-md-2 col-6"> <h4 class="red">{{total}} лв.</h4></div>
      <div class="col-md-8 col-6"></div>
  </div>
</div>
