<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">

    <span [ngClass]="'span-green'" *ngIf='day.events.length > 0'>Приходи: {{ day.events |
      sum:'income' }} {{currency}}</span><br/>
    <span [ngClass]="'span-red'" *ngIf='day.events.length > 0'>Разходи: {{ day.events |
        sum:'expense' }} {{currency}}</span><br/>
    <span class='hr' *ngIf='day.events.length > 0'></span>
    <span [ngClass]="sum(day.events,'value') > 0 ? 'span-balanse' : 'span-balanse'" *ngIf='day.events.length > 0'>
      За деня: <span [ngClass]="sum(day.events,'value') > 0 ? 'span-balanse' : 'span-balanse'"></span>{{ day.events |
      sum:'value' }} {{currency}}</span><br/>
    <span *ngIf='day.events.length > 0 && day.events[0].weekday == 0' class='span-balanse'>За седмицата: {{events | sumweekly:day.events[0].weeknumber}}</span>
<br/>

<span [ngClass]="getDayClass(day.events[0])" *ngIf='day.events.length > 0'>
  {{day.events[0].total }} {{currency}}
</span>
<span [ngClass]="day.events[0]._total > day.events[0].total ? 'cal-day-badge red-gray down' : 'cal-day-badge gray up'" *ngIf='day.events.length > 0 && day.events[0]._total'>
  {{day.events[0].total - day.events[0]._total }} {{currency}}
</span>

    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of day.events; trackBy:trackByEventId"
      [ngClass]="event?.cssClass" [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
      [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody"
      mwlDraggable [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active" [dropData]="{event: event, draggedFrom: day}"
      [dragAxis]="{x: event.draggable, y: event.draggable}" (mwlClick)="eventClicked ? eventClicked.emit({ event: event }) : ''">
    </div>
  </div>
</ng-template>

<div class="row text-center head">
  <div class="col-md-4 text-left">
    <div class="btn btn-primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">
      &lt;&lt;
    </div>
    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
      Today
    </div>
    <div class="btn btn-primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">
     &gt;&gt;
    </div>
    <div class='camera'>
    <button (click)="doSnapshot()"><i class="fa fa-camera"></i></button>
  </div>
  </div>
  <div class="col-md-6">
    <h3>{{ viewDate | date:'MMMM yyyy'}}</h3>
  </div>
  <div class="account-title col-md-2" *ngIf='accounts'>
     <h4>{{accounts | sum:'value'}} {{currency}}</h4>
    </div>
</div>

<mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [cellTemplate]="customCellTemplate">
  >
</mwl-calendar-month-view>
<hr />
<div class="container snapshots">
      <h3>Архив</h3>
      <div class="row" *ngFor="let s of lastSnapshots">
          <div class="col-md-3 col-3 col-6"><a href="javascript:void(0)" (click)="loadSnapshot(s)">{{s.createdon | fmoment:'MMM D HH:mm:ss'}}</a></div>
          <div class="col-md-3 col-3 col-6"><a href="javascript:void(0)" (click)="removeSnapshot(s)"><i class="fa fa-remove span-red"></i></a></div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col-3">
          <a href="javascript:void(0)" (click)="moreSnapshots(s)" *ngIf="snapshots && snapshots.length > numberofsnapshots" >Още ...</a>
        </div>
      </div>
      <div class="row"></div>
    </div>


