.green {
    background-color: green;
}

.orange {
  background-color: #FF8C00;
}

.red-orange {
  background-color: #ff4500;
}

.yellow-orange {
  background-color: #FFD800;
}

.gray {
  background-color: #aaa;
}

.red-gray {
  background-color: #aaa;
  color: red;
}

.ered {
  background-color: #e27e7e;
  font-size: 75%;
}

.egreen {
  background-color: #7ee27e;
  font-size: 75%;
}

.span-red {
  color: #e27e7e;
  font-size: 75%;
}

.span-green {
  color: green;
  font-size: 75%;
}

.span-balanse {
  color: #555;
  font-size: 75%;
}

span.hr {
  width:50%;
  display:block;
  border-top:1px solid #aaa;
}

