<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" >
    <!-- <div class="row navbar navbar-app navbar-absolute-top topnav" *ngIf="nav.visible" id="myTopnav"> -->
    <div class="topnav" *ngIf="nav.visible" id="myTopnav">
      <a routerLink="/" class="nav-link" routerLinkActive='' >Начало</a>
      <a routerLink="/accounts" class="nav-link" onclick="myFunction()" routerLinkActive='active' >Наличности</a>
      <a routerLink="/expenses" class="nav-link" onclick="myFunction()" routerLinkActive='active' >Разходи</a>
      <a routerLink="/incomes" class="nav-link" onclick="myFunction()" routerLinkActive='active' >Приходи</a>
      <a routerLink="/calendar" class="nav-link" onclick="myFunction()" routerLinkActive='active' >Календар</a>
      <a routerLink="/logout" class="nav-link"  routerLinkActive='active' >Изход</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()" id="hamb">
          <i class="fa fa-bars"></i>
      </a>
    <!-- <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLink="/" class="nav-link" routerLinkActive='' >Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/accounts" class="nav-link" routerLinkActive='active' >Accounts</a>
        </li>
        <li class="nav-item">
            <a routerLink="/expenses" class="nav-link" routerLinkActive='active' >Expenses</a>
        </li>
        <li class="nav-item">
            <a routerLink="/incomes" class="nav-link" routerLinkActive='active' >Incomes</a>
        </li>
        <li class="nav-item">
            <a routerLink="/calendar" class="nav-link" routerLinkActive='active' >Calendar</a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive='active' >Log out</a>
      </li>
      </ul> -->
  </div>
<router-outlet></router-outlet>

</div>

