<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row navbar navbar-app navbar-absolute-top">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLink="/" class="nav-link" routerLinkActive='' >Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/accounts" class="nav-link" routerLinkActive='active' >Accounts</a>
        </li>
        <li class="nav-item">
            <a routerLink="/expenses" class="nav-link" routerLinkActive='active' >Expenses</a>
        </li>
        <li class="nav-item">
            <a routerLink="/incomes" class="nav-link" routerLinkActive='active' >Incomes</a>
        </li>
        <li class="nav-item">
            <a routerLink="/calendar" class="nav-link" routerLinkActive='active' >Calendar</a>
        </li>
      </ul>
  </div>
<router-outlet></router-outlet>

</div>

